body{
font-family: Arial;
background:#f5f7fb;
}


/* HERO */

.hero{

height:160vh;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),
url("bitbunker.png");

background-size:cover;

background-position:center;

}


/* FEATURES */

.features{

margin-top:80px;

margin-bottom:80px;

}

.feature-box{

padding:30px;

background:white;

border-radius:12px;

box-shadow:0 10px 30px rgba(0,0,0,0.1);

transition:0.3s;

}

.feature-box:hover{

transform:translateY(-10px);

}


/* CTA */

.cta{

background:#111;

color:white;

padding:70px;

}


/* FOOTER */

footer{

background:#000;

color:white;

text-align:center;

padding:20px;

}


/* CARDS */

.bunker-card{

border:none;

border-radius:12px;

overflow:hidden;

box-shadow:0 15px 35px rgba(0,0,0,0.15);

transition:0.3s;

}

.bunker-card:hover{

transform:scale(1.05);

}

.bunker-card img{

height:200px;

object-fit:cover;

}
.news-card{

border:none;

border-radius:12px;

overflow:hidden;

box-shadow:0 10px 25px rgba(0,0,0,0.15);

transition:0.3s;

}

.news-card:hover{

transform:translateY(-8px);

}

.news-card img{

height:200px;

object-fit:cover;

}